.body{
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1f5da6;
  color: white;
  padding: 8px 16px;
  height: 50px;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
  z-index: 100;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
}

.left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.menuBtn {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 22px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 18px;
  font-weight: bold;
}

.logo img {
  height: 24px;
}

.userBtn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.userIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;

  @media (max-width: 600px) {
    .logo span {
      font-size: 16px;
    }

    .logo img {
      height: 18px;
    }

    .userBtn img {
      width: 26px;
      height: 26px;
    }
  }
}
