<header class="header">
  <div class="left">
    <app-sidebar></app-sidebar>
    <div class="logo">
      <button type="button" (click)="navigateDashboard()" >
      <img src="icons/Logo.png" alt="Logo" />
      <img src="icons/Glyvia.png" alt="Logo" />
      </button>
    </div>
  </div>

  <div class="right">
    <button type="button" class="themeBtn" (click)="toggleTheme()">
      <img
        *ngIf="!themeService.isDarkTheme()"
        src="icons/modoescuro.png"
        alt="Ativar modo escuro"
      />
      <img
        *ngIf="themeService.isDarkTheme()"
        src="icons/modoclaro.png"
        alt="Ativar modo claro"
      />
    </button>
    <button type="button" class="userBtn" (click)="goToProfile()">
      <img
        [src]="fotoUrl"
        alt="Usuário"
        class="userIcon"
        (error)="fotoUrl = 'icons/Default_Profile.png'"
      />
    </button>

  </div>
</header>
