<app-header></app-header>

<div class="main">
  <div class="header">
    <h2>Contar Carboidratos</h2>
  </div>

  <!--Card de enviar Foto e Dicas -->
  <app-carboidratos (fotoProcessada)="onFotoProcessada($event)"></app-carboidratos>

  <div class="main-container" *ngIf="fotoProcessada">
    <app-resumorefeicao [foto]="fotoProcessada"></app-resumorefeicao>


    <!-- Botão de Alerta que não está funcionando atualmente -->
    <!-- <button (click)="alerta.abrir()" class="btn-aviso">Ver aviso</button> -->
    <!-- <app-alertacarboidratos #alerta [mensagem]="'Estes valores são apenas para correção!'"></app-alertacarboidratos> -->
  </div>
</div>
