<app-header></app-header>

<div class="header">
  <h2>Lembretes</h2>
</div>

<!-- Tela principal -->
<div *ngIf="telaAtiva === 'principal'">
  <app-mainremedios (adicionar)="goToAdd('remedio')"></app-mainremedios>
  <app-mainconsultas (adicionar)="goToAdd('consulta')"></app-mainconsultas>
</div>

<!-- Tela de adicionar remédio -->
<app-addremedio *ngIf="telaAtiva === 'addRemedio'" (voltar)="voltar()"></app-addremedio>

<!-- Tela de adicionar consulta -->
<app-addconsulta *ngIf="telaAtiva === 'addConsulta'" (voltar)="voltar()"></app-addconsulta>
