<!-- main-remedios.component.html -->
<div class="container">
  <div class="cards">
    <div class="card lembrete-card">
      <div class="card-header">
        <h3>Remédios</h3>
        <div class="acoes">
          <img src="icons/add.png" (click)="adicionarItem()" class="btn-icon" alt="Adicionar"/>
          <img src="icons/pencil.png" class="btn-icon" alt="Editar"/>
        </div>
      </div>
      <div class="card-body">
        <!-- Aqui você coloca os dados do card, como checklist de remédios -->
        <p>Teste</p>
      </div>
    </div>
  </div>
</div>
