<header>
  <app-header></app-header>
</header>

<main class="mainContent">
  <div class="formBox">
    <div class="formHeader">
      <img class="mascote" src="icons/Mascote.png" alt="Mascote" />
      <h1>Personalizando seu Glyvia</h1>
    </div>

    <form>
      <label for="nome">Nome</label>
      <div class="largeBox">
        <input type="text" id="nome" />
      </div>

      <div class="row">
        <div class="fieldGroup">
          <label for="genero">Gênero</label>
          <div class="mediumBox">
            <input type="text" id="genero" />
          </div>
        </div>

        <div class="fieldGroup">
          <label for="altura">Altura</label>
          <div class="mediumBox">
            <input type="number" id="altura" />
          </div>
        </div>

        <div class="fieldGroup">
          <label for="peso">Peso Atual</label>
          <div class="mediumBox">
            <input type="number" id="peso" />
          </div>
        </div>
      </div>

      <label for="insulina">Tipo de Insulina</label>
      <div class="largeBox">
        <input type="text" id="insulina" />
      </div>

      <label for="aplicacao">Via de Aplicação</label>
      <div class="largeBox">
        <input type="text" id="aplicacao" />
      </div>

      <label for="nascimento">Data de Nascimento</label>
      <div class="mediumBox">
        <input type="date" id="nascimento" />
      </div>

      <label for="icr">ICR - Relação Insulina/Carboidrato</label>
      <div class="largeBox">
        <input type="text" id="icr" />
      </div>

      <label for="metaGlicemica">Meta Glicemia</label>
      <div class="mediumBox">
        <input type="text" id="metaGlicemica" />
      </div>

      <div class="formActions">
        <button type="button" class="backBtn" (click)="navigateGoBack()">←</button>
        <button type="submit" class="okBtn" (click)="navigateDashboard()">Ok</button>
      </div>
    </form>
  </div>
</main>
