body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #e6e6e6;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.mascote {
  width: 50px;
  height: auto;
  display: block;
}

.mainContent {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.formBox {
  background-color: #77b5f7;
  color: white;
  width: 350px;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin: 20px auto;
}

.formHeader {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
  padding: 10px;
  align-self: center;
  font-weight: bold;
}

.mediumBox {
  width: 100px;
}

.largeBox {
  width: 250px;
}

.row {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.fieldGroup {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.fieldGroup input {
  padding: 8px;
  border-radius: 6px;
  border: none;
  font-size: 14px;
}

.formHeader h1 {
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  margin: 0;
}

form label {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
}

form input {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
}

.formActions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.backBtn {
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.okBtn {
  background-color: #004aad;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
}
