<app-header></app-header>

<div class="header">
  <h2>Relatórios e Gráficos</h2>
</div>

<div class="container">
  <div class="card selecaoCard">
    <div class="headerCard">
      <h2>Selecione</h2>
    </div>
    <div class="conteudo">
      <div class="campo">
        <div class="toggle">
          <button
            [class.ativo]="toggleAtivo === 'relatorio'"
            (click)="setToggle('relatorio')">
            Relatório
          </button>
          <button
            [class.ativo]="toggleAtivo === 'grafico'"
            (click)="setToggle('grafico')">
            Gráfico
          </button>
          <div class="indicador" [ngStyle]="{'left': toggleAtivo === 'relatorio' ? '0%' : '50%'}"></div>
        </div>
      </div>

      <div class="campo">
        <label>Tipo de Dado:</label>
        <select [(ngModel)]="tipoDado">
          <option>Glicemia</option>
          <option>Colesterol</option>
          <option>Calorias</option>
          <option>Carboidratos</option>
        </select>
      </div>

      <div class="campo">
        <label>Período:</label>
        <div class="datas">
          <div>
            <label>De:</label>
            <input type="date" [(ngModel)]="dataInicio">
          </div>
          <div>
            <label>Até:</label>
            <input type="date" [(ngModel)]="dataFim">
          </div>
        </div>
      </div>

      <div class="botaoContainer">
        <button class="btnBuscar" (click)="buscar()">Buscar</button>
      </div>
    </div>
  </div>

  <div class="card resultadoCard">
    <div class="headerCard">
      <h2>Resultados</h2>
    </div>
    <div class="conteudo">

      <p *ngIf="!relatorio || relatorio.length === 0" style="text-align:center; margin-top:50px;">
        Informe os Dados e clique em Buscar!
      </p>

      <!-- Relatório -->
      <div *ngIf="toggleAtivo === 'relatorio' && relatorio && relatorio.length > 0">
        <table class="tabela-relatorio">
          <thead>
          <tr>
            <th>Data</th>
            <th>Hora</th>
            <th>Valor</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of relatorio">
            <td>{{ item.dataGlicemia | date: 'dd/MM/yyyy' }}</td>
            <td>{{ item.horaGlicemia }}</td>
            <td>{{ item.valorGlicemia }}</td>
          </tr>
          </tbody>
        </table>
      </div>

      <!-- Gráfico -->
      <div *ngIf="toggleAtivo === 'grafico'">
        <canvas baseChart
                [data]="chartData"
                [options]="chartOptions"
                chartType="line">
        </canvas>
      </div>


    </div>
  </div>

</div>
