<app-header></app-header>

<div class="main">
  <div class="header">
    <h2>Contar Carboidratos</h2>
  </div>

  <!--Card de enviar Foto e Dicas -->
  <app-carboidratos
    *ngIf="!fotoProcessada"
    (fotoProcessada)="onFotoProcessada($event)">
  </app-carboidratos>

  <!-- Mostra o resumo apenas depois que a foto for processada -->
  <div class="main-container" *ngIf="fotoProcessada">
    <app-resumorefeicao
      [foto]="fotoProcessada"
      (reenviarImagem)="onReenviarImagem()">
    </app-resumorefeicao>
  </div>
</div>
