<div class="cardsContainer">
  <div class="card">
    <div class="cardHeader">Registre por foto</div>
    <div class="cardContent">
      <div class="containerCard">
        <div class="textContent">
          <p>Envie uma foto da sua refeição</p>
        </div>
        <div class="iconContainer">
          <label for="uploadFoto">
            <img src="icons/food.png" alt="Comida">
          </label>
          <input type="file" id="uploadFoto" (change)="processarFoto($event)" accept="image/jpg, .jpeg" style="display: none;">
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="cardHeader">Algumas dicas rápidas</div>
    <div class="cardContent">
      <ul>
        <li>Enquadre toda a refeição</li>
        <li>Mostre cada item nitidamente</li>
        <li>Garanta uma boa iluminação</li>
      </ul>
    </div>
  </div>
</div>
