.cardsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  gap: 20px;
}

.card {
  width: 350px;
  background-color: var(--card-color);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  color: var(--text-color);
}

.cardHeader {
  background-color: var(--primary-color);
  color: var(--text-color);
  font-weight: bold;
  padding: 10px 15px;
  font-size: 16px;
  text-align: center;
}

.cardContent {
  padding: 15px;
}

.containerCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.textContent p {
  margin: 0;
  font-size: 1rem;
  color: var(--text-color);
}

.iconContainer img {
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition: transform 0.2s;
}

.iconContainer img:hover {
  transform: scale(1.1);
}

.cardContent ul {
  padding-left: 20px;
  margin: 0;
}

.cardContent li {
  margin-bottom: 8px;
  font-size: 1rem;
  color: var(--text-color);
}

@media (max-width: 600px) {
  .containerCard {
    flex-direction: column;
    align-items: flex-start;
  }

  .iconContainer {
    margin-top: 15px;
  }
}
